[user]
	name = Daniel Buckmaster
	email = dan.buckmaster@gmail.com
[alias]
	s = status
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	c = commit
	ca = commit -a
[core]
	filemode = false
	autocrlf = false
	excludesfile = ~/.gitexcludesfile
[push]
	default = simple
[color]
	ui = auto
